@import "tailwindcss";

@theme {
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey-500: hsl(217, 12%, 63%);
  --color-grey-900: hsl(213, 19%, 18%);
  --color-grey-950: hsl(216, 12%, 8%);
  --color-orange-500: hsl(25, 97%, 53%);
  --color-gradient-start: hsl(215, 20%, 17%);
  --color-gradient-end: hsl(216, 24%, 12%);
}

@layer base {
  html {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    background-color: var(--color-grey-950);
    min-height: 100vh;
    display: grid;
    place-content: center;
  }

  main {
    @apply p-6;
  }
}

@utility text-preset-1 {
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2.1875rem;
  letter-spacing: 0px;
}

@utility text-preset-2 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: 0px;
}

@utility text-preset-3 {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
}

@utility text-preset-4-bold {
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  letter-spacing: 2px;
}

@utility text-preset-4-regular {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  letter-spacing: 0px;
}

@utility text-preset-5-bold {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 1.87px;
}

@utility text-preset-5-semibold {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.17px;
}

@utility text-preset-5-regular {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  letter-spacing: 0px;
}

@utility card-gradient {
  @apply from-gradient-start to-gradient-end bg-radial-[at_50%_10%] to-75%;
}

@layer components {
  .star-icon-bg {
    @apply bg-grey-900 mb-6 w-fit rounded-full p-3 sm:mb-8 sm:p-4;
  }
  .card {
    @apply card-gradient grid max-w-[412px] rounded-2xl p-6 sm:rounded-4xl sm:px-6 sm:py-8;
  }
  .card-title {
    @apply text-preset-2 sm:text-preset-1 mb-4 text-white;
  }
  .card-paragraph {
    @apply text-preset-5-regular sm:text-preset-4-regular text-grey-500 mb-4;
  }
  .radio-input {
    @apply sr-only;
  }
  .radio-label {
    @apply text-preset-5-bold sm:text-preset-3 text-grey-500 bg-grey-900 hover:text-grey-900 grid h-10 w-10 cursor-pointer place-content-center rounded-4xl p-[21px] hover:bg-white sm:p-[25px];
  }
  .radio-input:checked + .radio-label {
    @apply text-grey-900 bg-orange-500;
  }
  .radio-input:focus-visible + .radio-label {
    @apply text-grey-900 bg-white;
  }
  .submit-button {
    @apply text-preset-5-bold sm:text-preset-5-semibold text-grey-950 w-full cursor-pointer rounded-3xl bg-orange-500 py-4 uppercase hover:bg-white focus:bg-white focus:outline-0 focus-visible:bg-white focus-visible:outline-0 active:bg-white;
  }
  .thanks-icon {
    @apply justify-self-center;
  }
  .thanks-results {
    @apply text-preset-5-regular sm:text-preset-4-regular bg-grey-900 my-6 w-fit justify-self-center rounded-full px-4 py-2 text-orange-500;
  }
}
